/* ===========HEADER=========== */
.header{
    border-bottom: 1px solid $border-accent;
}

.header__wrap {
    display: flex;
    align-items: center;
}

.header__item:not(:last-child) {
    margin-right: $margin50;
}

.header__logo {
    margin-right: auto;

    @include tablet{
        margin-right: 88px;
    }

    @include desktop{
        margin-right: 93px;
    }
}

/* Menu nav */
.menu__button
{
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover,
    &:focus{
        fill: $link-accent;
    }

    @include tablet{
        display: none;
    }
}

.menu__icon-close{
    display: none;
}

.menu__button.is-open{
    .menu__icon-close{
        display: block;
    }

    .menu__icon-open{
        display: none;
    }
}

.menu__list {
    display: none;
    
    @include tablet{
        display: flex;
    }
    
}

.menu__link {
    transition: color $duration250ms $time-function;

    display: block;
    padding-top: $padding32;
    padding-bottom: $padding32;

    @include font(500, 14px, 1.14, 0.02em);

    color: $main-text;
}
    .menu__link:hover,
    .menu__link:focus {
        color: $link-accent;
}