/* Logo */
.logo {
    color: $link-accent;

    font-family: 'Raleway', sans-serif;

    @include font(700, 24px, 28/24, null);

    @media screen and (min-width: $mobile) {
        
    }

    @media screen and (min-width: $tablet) {
        
    }

    @media screen and (min-width: $desktop) {
        
    }
}

/* Logo accent */
.logo--black {
    color: $firstly-accent;
}

.logo--white {
    color: $secondary-accent;
}